// Full Page Image Background Carousel Header
header.carousel.slide(id='myCarousel')

  // Indicators
  //ol.carousel-indicators
  //  li.active(data-target="#myCarousel", data-slide-to="0")
  //  li(data-target="#myCarousel" data-slide-to="1")
  //  li(data-target="#myCarousel" data-slide-to="2")

  // Wrapper for Slides
  div.carousel-inner
    div.item.active
      // Set the first background image using inline CSS below.
      div.fill(style="background-image:url('/img/Abstract.jpg')")
      //div.carousel-caption
      //  h2 Caption 1
    div.item
      // Set the second background image using inline CSS below.
      div.fill(style="background-image:url('/img/Antelope_Canyon.jpg')")
      //div.carousel-caption
      //  h2 Caption 2

    div.item
      // Set the third background image using inline CSS below.
      div.fill(style="background-image:url('/img/Bahamas_Aerial.jpg')")
      //div.carousel-caption
      //  h2 Caption 3

  // Controls
  //a.left.carousel-control(href="#myCarousel" data-slide="prev")
  //  span.icon-prev

  //a.right.carousel-control(href="#myCarousel" data-slide="next")
  //  span.icon-next
