// Full Page Image Background Carousel Header
header.carousel.slide(id='myCarousel')

  // Indicators
  //ol.carousel-indicators
  //  li.active(data-target="#myCarousel", data-slide-to="0")
  //  li(data-target="#myCarousel" data-slide-to="1")
  //  li(data-target="#myCarousel" data-slide-to="2")

  // Wrapper for Slides
  div.carousel-inner.carousel-fade
    div.item.active
      // Set the first background image using inline CSS below.
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0001.jpg')")
      //div.carousel-caption
      //  h2 Caption 1
    div.item
      // Set the second background image using inline CSS below.
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0002.jpg')")
      //div.carousel-caption
      //  h2 Caption 2

    div.item
      // Set the third background image using inline CSS below.
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0003.jpg')")
      //div.carousel-caption
      //  h2 Caption 3

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0004.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0005.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0008.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0010.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0011.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0013.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0014.jpg')")

    div.item
      div.fill(style="background-image:url('https://s3-us-west-2.amazonaws.com/wedding-reg/0015.jpg')")

  // Controls
  //a.left.carousel-control(href="#myCarousel" data-slide="prev")
  //  span.icon-prev

  //a.right.carousel-control(href="#myCarousel" data-slide="next")
  //  span.icon-next
